@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity
<div class="row">

    @if (User.IsInRole("Admin"))
    {
        
       <aside class="col-md-4">
           <ul style="list-style: none;">
               <li>
                   <span class="row">
                       <p> Domain 1</p>
                       @Html.ActionLink("Edit", "Edit", "Domain")
                       @Html.ActionLink("Remove", "Remove", "Domain")
                   </span>
               </li>

               <li>
                   <span class="row">
                       <p> Domain 2</p>
                       @Html.ActionLink("Edit", "Edit", "Domain")
                       @Html.ActionLink("Remove", "Remove", "Domain")
                   </span>
               </li>
           </ul>
           @Html.ActionLink("Create New", "Create", "Domain")
       </aside>
        
        <article class="col-md-8">
            <section id="allSubdomains">
                <ul style="list-style: none;">
                    <li>
                        <span class="row">
                            <p>Subdomain 1</p>
                            @Html.ActionLink("Edit", "Edit", "Subdomain")
                            @Html.ActionLink("Remove", "Remove", "Subdomain")
                        </span>
                    </li>

                    <li>
                        <span class="row">
                            <p> Subdomain 2</p>
                            @Html.ActionLink("Edit", "Edit", "Subdomain")
                            @Html.ActionLink("Remove", "Remove", "Subdomain")
                        </span>
                    </li>
                </ul>
                @Html.ActionLink("Create New", "Create", "Subdomain")
            </section>
        </article>
    }
    else
    {
        
    }

</div>